<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='styles/style.css')}}">
    
</head>
<body>
    <form method="post">
        list of viewers:<br/>
        <div id="users">
            <input type="text" name="username0"> 
            update my watchlist 
            <input type="checkbox" name="update-db0"><br/> 
            I dont have watchlist on letterboxd
            <input type="checkbox" name="no-watchlist0"><br/>
        </div>
        </div>
        <button type="button" id="addUserButton">+</button><br/>
        <input type="submit">
    </form>
    <script>
        let counter = 1;
        document.getElementById('addUserButton').addEventListener('click', () => {
            const para = document.createElement("div");
            para.innerHTML = `<input type="text" name="username${counter}"> 
                update my watchlist 
                <input type="checkbox" name="update-db>${counter}"><br/>
                I dont have watchlist on letterboxd
                <input type="checkbox" name="no-watchlist${counter}"><br/>`;
            document.getElementById("users").appendChild(para);
            counter += 1;
        });
    </script>
</body>
</html>