<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='styles/style.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"> 

</head>
<body>
    <h1>Welcome to the homepage</h1>
    <p>
        Glag that u here!
    </p>
    <h2>Link to the app</h2>
    <p>
      <a href='/my_shining_app'>click to begin</a>
    </p>
</body>
</html>
